<h3>Viajes Realizados</h3>
<table class="table-viajes">
	<thead>
		<tr>
			<th>Origen</th>
			<th>Destino</th>
			<th>Vehículo</th>
			<th>Fecha</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		{{#each this.viajes.list as |viaje|}}
			<tr>
				<td>{{viaje.origen}}</td>
				<td>{{viaje.destino}}</td>
				<td>{{viaje.vehiculo}}</td>
				<td>{{viaje.fecha}}</td>
				<td>
					<button type="button" {{on "click" (fn this.verViaje viaje)}}>Ver</button>
					<button type="button" {{on "click" (fn this.editarViaje viaje)}}>Editar</button>
					<button type="button" {{on "click" (fn this.finalizarViaje viaje)}}>Finalizar</button>
					<button type="button" {{on "click" (fn this.eliminarViaje viaje)}}>Eliminar</button>
				</td>
			</tr>
		{{else}}
			<tr><td colspan="5">No hay viajes registrados.</td></tr>
		{{/each}}
	</tbody>
</table>
