<h3>Ganancias</h3>
<div class="ganancias-form">
  <div class="ganancias-grid">
    <div><img src="/icons/negativo.png" alt="-" style="height:18px;width:18px;vertical-align:middle;margin-right:6px;" />Valor flete: ${{this.valorFlete}}</div>
    <div><img src="/icons/negativo.png" alt="-" style="height:18px;width:18px;vertical-align:middle;margin-right:6px;" />Comisión: ${{this.comision}}</div>
    <div><img src="/icons/negativo.png" alt="-" style="height:18px;width:18px;vertical-align:middle;margin-right:6px;" />Cargue valor: ${{this.cargue}}</div>
    <div><img src="/icons/negativo.png" alt="-" style="height:18px;width:18px;vertical-align:middle;margin-right:6px;" />Descargue valor: ${{this.descargue}}</div>
    <div><img src="/icons/negativo.png" alt="-" style="height:18px;width:18px;vertical-align:middle;margin-right:6px;" />Descarrozar: ${{this.descarrozar}}</div>
    <div><img src="/icons/negativo.png" alt="-" style="height:18px;width:18px;vertical-align:middle;margin-right:6px;" />Peajes: ${{this.peajes}}</div>
    <div><img src="/icons/negativo.png" alt="-" style="height:18px;width:18px;vertical-align:middle;margin-right:6px;" />ACPM: ${{this.acpm}}</div>
    <div><img src="/icons/negativo.png" alt="-" style="height:18px;width:18px;vertical-align:middle;margin-right:6px;" />Parqueos: ${{this.parqueos}}</div>
    <div><img src="/icons/negativo.png" alt="-" style="height:18px;width:18px;vertical-align:middle;margin-right:6px;" />Lavados: ${{this.lavados}}</div>
    <div><img src="/icons/negativo.png" alt="-" style="height:18px;width:18px;vertical-align:middle;margin-right:6px;" />Reparaciones: ${{this.reparaciones}}</div>
    <div><img src="/icons/negativo.png" alt="-" style="height:18px;width:18px;vertical-align:middle;margin-right:6px;" />Descuentos: ${{this.descuentos}}</div>
  </div>
  <div class="ganancias-resultado">
    <img src="/icons/positivo.png" alt="+" style="height:22px;width:22px;vertical-align:middle;margin-right:6px;" />
    <strong>Ganancia final:</strong> ${{this.gananciaFinal}}
  </div>
</div>
